/* These elements impact the page */

:root {
    --primary-colour: #1e90ff;
    --seccondary-colour: #FD7F00;
    --font-color: #040084;
    --Other-font-colour: #FECC98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

/* This is for the page title */

.h1 {
    margin: 20px;
    color: var(--font-color);
    background-color: var(--seccondary-colour);
    border-radius: 5px;
    width: 80%;
    margin-left: 5cm;
    height: 1.5cm;
    font-size: 2em;
}

/* This is for subheadings */

h3 {
    color: var(--font-color);
}

/* These are for the input boxes */

.inputbox {
    width: 4cm;
    justify-content: center;
    font-size: small;
    color: #333;
}

section {
    width: 100vw;
    height: 100vh;
}

/* Forms Input Container */

.input-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.form-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--seccondary-colour);
    padding: 40px 20px;
    margin: 20px;
    gap: 10px;
    width: 25vw;
    border-radius: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #333;
}

/* Submit Button */

.button {
    text-align: center;
    width: 100px;
    height: 40px;
    background-color: var(--font-color);
    color: var(--seccondary-colour) ;
    font-weight: 900;
    font-size: medium;
    border: none;
    border-radius: 10px;

}

button:hover {
    background-color: var(--seccondary-colour);
    color: var(--font-color);
    cursor: pointer;

}