:root {
    --primary-colour: #1e90ff;
    --seccondary-colour: #FD7F00;
    --font-color: #040084;
    --Other-font-colour: #FECC98;
}

content.row {
    display: flex;
  }
  
  content.column {
    flex: 50%;
    padding: 5px;
  }

  users.row {
    display: flex;
  }
  
  users.column {
    flex: 50%;
    padding: 5px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    list-style: none;
}

.databaseResults {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* background-color: #040084; */
    border-radius: 5px 5px 0 0;
}

/* h1 Bootcamper */
.h1Bootcamper {
    margin: 20px;
    background-color: var(--seccondary-colour);
    border-radius: 5px;
}

/* Content Table */

.content-table {
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    background-color: var(--seccondary-colour);
}
.content-table thead tr {
    background-color: var(--seccondary-colour);
    text-align: center;
    font-weight: bold;
}

.content-table th {
    padding: 5px 10px;    
    border: solid 2px var(--font-color);
}


.content-table td {
 align-content: center;
 
}

.content-table tbody tr {
    border-bottom: 1px solid #333;
}


.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1e90ff;
}


.users-table {
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    background-color: var(--seccondary-colour);

}

.users-table thead tr {
    background-color: var(--seccondary-colour);
    text-align: center;
    font-weight: bold;
    
}

.users-table th {
    padding: 5px 10px;
    border: solid 2px var(--font-color);
}

.users-table th,
.users-table td {
   align-content: center;
   border: solid 2px var(--font-color);
}

.users-table tbody tr {
    border-bottom: 1px solid #333;
}


.users-table tbody tr:last-of-type {
    border-bottom: 2px solid #1e90ff;
}


/* .dataContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--seccondary-colour); 
    border: solid 3px var(--primary-colour);
    height: 7.5vh;
} */

.dataContainer > li {
    flex-wrap: wrap;
    color: var(--Other-font-colour);
}
