:root {
    --primary-colour: #1e90ff;
    --seccondary-colour: #FD7F00;
    --font-color: #040084;
    --Other-font-colour: #FECC98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FECC98;
    list-style: none;
}

/* h1 Bootcamper */
.h1Bootcamper {
    margin: 20px;
}

/* Content Table */

.content-table {
    margin: 25px 0;
    font-size: 0.9em;
    border-collapse: collapse;
    min-width: 400px;
    background-color: #0141CF;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead tr {
    background-color: var(--seccondary-colour);
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #333;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1e90ff;
}

.dataContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--seccondary-colour); 
    border: solid 3px var(--primary-colour);
    height: 7.5vh;
}

.dataContainer > li {
    flex-wrap: wrap;
    color: var(--Other-font-colour);
}
