:root {
  --primary-colour: #1e90ff;
  --seccondary-colour: #FD7F00;
  --font-color: #040084;
  --Other-font-colour: #FECC98;
}

div {
  line-height: 1.6;
  display: inline-block;
}

html {
  height: 100%;
  font-family: "Trebuchet", sans-serif;
  background: rgb(83, 179, 208);
  /* width: 100%; */
}

/* Div container */

.image {
  max-inline-size: 50%;
  display: block;
  height: 75%;
  width: auto;
  margin: 10px auto 10px auto;
  position: center;
  padding: 10px;
  text-align: center;
}

.header {
  margin: 20px;
  text-align: center;
  color: var(--font-color);
  background-color: var(--seccondary-colour);
  border-radius: 10px;
}

.about-box {
  display: block;
  height: auto;
  margin: 10px 200px 10px 200px;
  color: var(--font-color);
  /* padding: 50px; */
  text-align: left;
  width: 50vw;
}

p, i {
  color: var(--font-color);
}

