/* This impacts the whole page */

:root {
  --primary-colour: #1e90ff;
  --seccondary-colour: #FD7F00;
  --font-color: #040084;
  --Other-font-colour: #FECC98;
}

/* This alters the divs */

div {
  line-height: 1.6;
  display: inline-block;
}

/* This changes the text */

html {
  height: 100%;
  font-family: "Trebuchet", sans-serif;
  background: rgb(83, 179, 208);
}

/* Div container */

.image {
  max-inline-size: 50%;
  display: block;
  height: 75%;
  width: auto;
  margin: 10px auto 10px auto;
  position: center;
  padding: 10px;
  text-align: center;
}

.header {
  text-align: center;
  color: var(--font-color);
  background-color: var(--seccondary-colour);
  border-radius: 10px;
}

/* Changes the way the title displays */

h1 {
  margin: 12px;
}

/* Applies to the text div about-box */

.about-box {
  display: block;
  height: auto;
  margin: 10px 200px 10px 200px;
  color: var(--font-color);
  text-align: left;
  width: 50vw;
}

/* Changes font colour for text in paragraphs and italics */

p, i {
  color: var(--font-color);
}

